Gzip header extra field bug

There is a bug at [lines 1451-1452](https://github.com/madler/infgen/blob/eba7aaf0f851764b9c1de16af828d9cd8baac764/infgen.c#L1451-L1452), i.e. without the info (-i) option the extra field in gzip header is not skipped, which results into errors later on.
```c
if (info)
    putval(NEXT(s.in), "extra", 0, &s);
```
Should be
```c
NEXT(s.in);
if (info)
    putval(n, "extra", 0, &s);
```
Also what about disassembling subfields as per [RFC 1952, section 2.3.1.1](https://datatracker.ietf.org/doc/html/rfc1952#section-2)?

Thanks! Fixed and added annotations for extra sub-fields.